@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.w100 {width: 100%;} .w50 {width: 50%;}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.clear {
    clear: both;
}

/* CLASSES GERAIS ------------------------------------------------------------------------------------------------------------------------------ */

header {
    background-image: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%);
}

header nav{
    text-align: right;
    padding-top: 20px;
}
header nav > a{
    color: #564E4E;
    font-size: 1.5em;
    text-decoration: none;
    padding: 15px; 
}

header h1 {
    font-size: 80px;
    padding-left: 20px;
    font-family: 'Ms Madi', cursive;
    color: #867A7A;
    font-weight: normal;
    line-height: 50px;
    text-shadow: 2px 2px 5px #00000040;

}

header h1 > span{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #876666;
    padding-left: 12px;
}

/* HEADER ------------------------------------------------------------------------------------------------------------------------------ */

/* SECTION HOME ------------------------------------------------------------------------------------------------------------------------------ */

section.home{
    background-image: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%);
    padding: 20px 0 40px;
}

section.home h2 {
    color: #6E2A41;
    font-size: 3em;
    padding-top: 80px;
}

section.home .orçamemto{
    background: linear-gradient(90deg, #614385 0%, #516395 100%);
    color: #BAB7B7; font-size: 20px;
    border: none; outline: none;
    text-align: left;
    padding-left: 45px;
    border-radius: 20px 10px;
    width: 184px; height: 52px;
    float: right;
    cursor: pointer;
}

section.home .w50.home1 .img {
    background-image: url('../images/foto01.png');
    width: 298px; height: 428px;
    border-radius: 20px;
    margin-top: 30px;
}

section.home .w50.home1 {
    position: relative;
}

section.home .w50.home1 p {
    position: absolute;
    top: 380px; left: 340px;
    max-width: 301px;
}

section.home .w50.home2 .flex:first-of-type {
    margin-top: 100px;
}

section.home .w50.home2 .flex {
    justify-content: space-around;
    margin-top: 50px;
}

section.home .w50.home2 .img {
    box-shadow: 0px 4px 4px 0px #00000040;
    display: inline-block;
}

section.home .w50.home2 .img.one {
    background-image: url('../images/foto4.jpeg');
    width: 192px; height: 230px;
    background-size: cover;
}
section.home .w50.home2 .img.two {
    background-image: url('../images/foto3.jpeg');
    width: 199px; height: 221px;
    background-size: cover;
}
section.home .w50.home2 .img.three {
    background-image: url('../images/foto5.jpeg');
    width: 256px; height: 226px;
    background-size: cover;
}


/* SECTION HOME ------------------------------------------------------------------------------------------------------------------------------ */

/* SECTION FORMACAO ------------------------------------------------------------------------------------------------------------------------------ */

section.formacao {
    background-image: url(/images/fundo-contact.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 500px;
}



section.formacao .formacao-wraper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

section.formacao .formacao-wraper h1 {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-size: 60px;
    font-family: 'Playfair Display SC', serif;
    color: white;
}

section.formacao .w50 {
    width: 50%;
    
}

section.formacao .w50 .img-formatura {
    width: 300px;
    height: 407px;
    border-radius: 30px 10px 30px 10px;
    background-size: cover;
    background-position: top;
    background-image: url('../images/fotoformatura1.jpeg');
    margin-top: 120px;
}

section.formacao .formacao1 p {
    width: 319px;
    height: 238px;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

section.formacao .w50 .img-container {
    width: 431px;
    height: 347px;
    margin: 80px auto 0;
}

section.formacao .w50 .img-treino {
    background-position: center;
    background-size: cover;
    width: 170px;
    height: 240px;
}

section.formacao .w50 .img-treino {
    background-image: url('/images/fotoformatura2.jpeg');
    width: 431px;
    height: 347px;
    margin-top: 200px;
    margin-left: 10px;
}



section.formacao .formacao2 p {
    width: 403px;
    height: 138px;
    padding: 1%;
    margin-top: 3%;
    margin-left: 100px;
    font-family:  'Roboto', sans-serif;
    color: white;
}

/* SECTION FORMACAO ------------------------------------------------------------------------------------------------------------------------------ */

/* SECTION SERVICOS ------------------------------------------------------------------------------------------------------------------------------ */

section.servicos {
    background-image: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%); 
    padding: 30px 0;
}

section.servicos h2 {
    font-size: 50px;
    margin-bottom: 100px;
}
section.servicos h3 {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.04em;
    margin-bottom: 5%;
}

section.servicos p {
    font-size: 18px;
    line-height: 26px;
    max-width: 560px;
    padding: 25px 0;
}

section.servicos .img:nth-of-type(1) {
    width: 560px;
    height: 460px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 24px;
}

section.servicos .img:nth-of-type(2) {
    width: 560px;
    height: 320px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 24px;
}

/* SECTION.SERVICOS ------------------------------------------------------------------------------------------------------ **/

/* SECTION.KIDS ------------------------------------------------------------------------------------------------------------------ **/

section.kids {
    background-image: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%); 
}

section.kids .w100 {
    padding: 20px 0;
}

section.kids h1 {
    margin-top: 40px;
    font-size: 32px;
    color: #BB476F;
    margin-left: 20px;
}

section.kids .img {
    width: 560px;
    height: 320px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

section.kids p {
    font-size: 18px;
    line-height: 26px;
    max-width: 560px;
    padding: 25px 0;
}

/* SECTION.KIDS ------------------------------------------------------------------------------------------------------------------ **/

/* SECTION.CONSULTORIA ------------------------------------------------------------------------------------------------------------------ **/


section.consultoria {
    background-image: linear-gradient(90deg, #DAE2F8 0%, #D6A4A4 100%);
    padding: 30px 0;
}
section.consultoria h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
section.consultoria p {
    font-size: 18px;
    line-height: 26px;
    max-width: 560px;
    padding: 25px 0;
}
section.consultoria .sub1{
    display: flex;
    justify-content: first baseline;
}

section.consultoria img:nth-of-type(1){
    width: 98%;
}

section.consultoria img:nth-of-type(2){
    width: 50px;
}


/** CONTATO ------------------------------------------------------------------------------------------------------ **/

section.contato {
    background-image: url('../images/fotoacademia1.jpeg'); 
    width: 100%; min-height: 540px;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.contato .gradiant {
    background: linear-gradient(90deg, rgba(238, 156, 167,0.7) 0%, rgba(255, 221, 225,0.7) 100%);
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
}

section.contato .content {
    position: relative; z-index: 2;
}

section.contato .content h1 {
    text-align: center;
    padding: 30px 0;
    color: #80344C;
    font-size: 48px;
}

section.contato .content .form-wraper {
    width: 90%;
    max-width: calc(278px * 2);
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    border-radius: 25px;
    margin: 0 auto;
    position: relative; z-index: 1;
    padding: 50px;
}

section.contato .content .form-line {
    margin: 24px 0;
}

section.contato .content label {
    display: block;
    font-size: 21px;
    margin-bottom: 8px;
}

section.contato .content .center {
    text-align: center;
}

section.contato .content input[type=text],
section.contato .content input[type=email],
section.contato .content textarea  {
    width: 100%;
    height: 32px;
    border: 1px solid black;
    border-radius: 8px;
    outline: 0;
    padding-left: 5px;
}

section.contato .content textarea {
    height: 124px;
    resize: none;
    padding-top: 8px;
}

section.contato .content a {
    display: inline-block;
    background-color: #EFE3E3; color: black;
    border: 0; border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px; text-decoration: none;
    box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.4);
}

section.contato .content a:hover {
    background-color: #cbc1c1;
}

@media screen and (max-width:1280px) {

    section.formacao .w50-wraper {
        margin: 0 auto;
    }

    section.formacao .formacao1 .img-formatura {
        width: 260px;
        height: 420px;
        margin: 60px auto 0;
    }

    section.formacao .formacao1 p {
        width: 60%;
        margin: 40px auto 0;
    }

    .w50 {
        width: 100%;
    }

    section.servicos .w100.flex:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    section.servicos p {
        max-width: 840px;
        margin: 0 auto;
    }

    section.kids .w100.flex:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    section.consultoria .w100.flex:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    section.consultoria p {
        max-width: 840px;
        margin: 0 auto;
    }

    section.kids .img {
        width: 90%;
        height: 480px;
        margin: 0 auto;
    }

    section.kids p {
        max-width: 840px;
        margin: 0 auto;
    }

}

@media screen and (max-width:640px) {

    section.formacao .w50 .img-container {
        width: 320px;
        height: 600px;
        margin: 80px auto 0;
        background-color: #692336;
    }

    section.formacao .w50 .img-treino {
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 240px;
    }
    
    section.formacao .w50 .img-treino:nth-child(1) {
        background-image: url('../images/foto1.png');
    }
    
    section.formacao .w50 .img-treino:nth-child(2) {
        background-image: url('../images/foto2.png');
        float: right;
        position: relative;
        bottom: 80px;
        right: 0px;
    }
    
    section.formacao .w50 .img-treino:nth-child(3) {
        background-image: url('../images/foto3.jpeg');
        float: left;
        position: relative;
        top: -120px;
        left: 32px;
    }
    
    section.formacao .formacao2 p {
        width: 100%;
        padding: 1%;
        margin-top: 20px;
    }

    section.kids .img {
        height: 320px;
    }

}

    


